#wrap{
    background-color:rgb(167, 241, 199);
    width: 30%;
    margin:8px auto;
    padding: 5px;
    text-align: center;
}
#btn{
    border-radius: 10px;
    background-color: black;
    color: white;
}